:root{
    --border: 1px blue solid;
    --subborder: 1px red solid;

}

.sidebar,
.header,
.searchbar,
.content{
    border: var(--border);
}

.user,
.fileoptions,
.options1,
.option2,
.projects,
.announcements,
.trending{
    border: var(--subborder);
}

  body {
    display: grid;
    line-height: 1.5;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 75px 1fr 1fr;
    height:130vh;
    width: 100%;

  }
  
  .searchbar {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column: 2 / 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 75px;
}

input[type="search"] {
    width: 60%;
    border-radius: 20px;
    height: 30px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / -1;

}

.fileoptions {
    display: flex;
    justify-content: space-evenly;
}

.user{
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    grid-row-start: 1;
    grid-row: 1 / -1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / -1;
    grid-row: 3 / -1;
}

.projects {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
}

.announcements,
.trneding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}