*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

  body {
    display: grid;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100%;

  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  .searchbar {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    width: 60%;
    border-radius: 20px;
    height: 5%;
}