:root{
    --border: 1px blue solid;
    --subborder: 1px red solid;
    --orange: #EB5E28;
    --black1: #252422;
    --black2: #403D39;
    --grey: #CCC5B9;
    --white: #FFFCF2;

}

/* .sidebar,
.header,
.searchbar,
.content{
    border: var(--border);
} */

button{
    all: unset;
    box-sizing: border-box;
}

button:hover{
    color: var(--orange);
    background: var(--black2);
    border-radius: 10%;    
}
img{
    border-radius: 50%;
}



/* .user,
.fileoptions,
.options1,
.option2,
.projects,
.announcements,
.trending{
    border: var(--subborder);
} */

  body {
    font-family: 'Roboto';font-size: 22px;
    background-color: var(--black1);
    color: var(--white);
    display: grid;
    line-height: 1.5;
    grid-template-columns: 200px repeat(3, 1fr);    
    grid-template-rows: auto 75px 1fr 1fr;
    height:130vh;
    width: 100%;

  }
  
  .searchbar {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column: 2 / 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 75px;
}

input[type="search"] {
    width: 60%;
    border-radius: 20px;
    height: 30px;
    text-align: left;
    background-color: var(--black2);
    color: var(--white);
}
input[type="search"]:hover{
    background-color: var(--orange);
    color: var(--black1);
}

.header{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-column: 2 / -1;

}

.profilePic{
    background-image: url(profPics/spongebobprofpic.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

.fileoptions {
    display: flex;
    justify-content: space-evenly;
}

.user{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.userInfo{
    color: var(--orange);

}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 150px 1fr;
    justify-content: center;

}

.logo{
    background-image: url(icons/view-dashboard.svg);
    width: 100px;
    height: 100px;
    filter: invert(1);

}

.content {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-column: 2 / -1;
    grid-row: 3 / -1;
}

.projects {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    text-align: center;
}
.projectBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    height: 93%;
    margin: 10px;
    padding: 5px;
}

.projectBox:hover{
    background-color: var(--orange);
    box-shadow: 5px 10px 5px var(--grey);
    color: var(--black2);
}

.projectBox {
    font-size: .8em;
    border: 1px groove var(--black1);
    border-radius: 10px;
    box-shadow: 5px 10px 5px var(--orange);
    background-color: var(--black2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}

.announcements,
.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

h3.trendHead {
    margin-bottom: 5px;
}

.annContent {
    font-size: 1rem;
    margin: 15px;
    border: 1px dashed var(--white)
}

.trendsSections{
    margin: 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aContentHeader {
    font-weight: 700;
    color: var(--orange);
}

.announHead{
    margin-bottom: 5px;
}

.trendLogo{
    border-radius: 50%;
}

.trendText{
    display: flex;
    flex-direction: column;
}